.roadmap__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.roadmap__header {
    font-weight: 900;
    font-size: 10rem;
    animation: fadeIn__roadmap-header 1s;
}

@keyframes fadeIn__roadmap-header {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }
    33% {
        opacity: 1;
        transform: translateY(20rem);
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.roadmap__content {
    margin: 2rem 30vw;
    height: 65vh;
    width: 70vw;
    position: relative;
    animation: fadeIn__roadmap-content 2s forwards;
}

.roadmap__content-nav {
    height: 5vh;
    display: flex;
    justify-content: space-between;
}

.roadmap__content-nav-sort > div:first-child {
    margin-right: 1rem;
}

.roadmap__content-nav-sort > div:hover,
.roadmap__content-nav-close:hover {
    transform: scale(1.2);
    transition: transform 0.1s ease-in-out;
}

.roadmap__content-nav-sort {
    display: inline-flex;
}

.roadmap__content-div {
    height: 60vh;
    overflow-x: unset;
    overflow-y: auto;
}

.roadmap__content-div::-webkit-scrollbar {
    visibility: hidden;
}

.roadmap__content__profile,
.roadmap__content__profile img,
.roadmap__content__profile span,
.roadmap__content__loading-span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.1s ease-in-out;
}

.roadmap__content__profile {
    cursor: pointer;
}

.roadmap__content__profile span {
    text-align: center;
    font-size: small;
    opacity: 0;
}

.roadmap__content__profile:active,
.roadmap__content__profile:focus {
    transform: scale(0.8);
    transition: transform 0.1s ease-in-out;
}

.roadmap__content__profile:hover img {
    opacity: 0.5;
}
.roadmap__content__profile:hover span {
    opacity: 1;
}

.roadmap__content__button {
    width: 7.5rem;
    border-radius: 25%;
}

@keyframes fadeIn__roadmap-content {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    33% {
        opacity: 0;
        transform: scale(0);
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.roadmap__link {
    position: relative;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    animation: fadeIn__roadmap-link 1s;
}

.roadmap__link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -0.25rem;
    left: 0;
    background-color: var(--main-title-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.roadmap__link:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

@keyframes fadeIn__roadmap-link {
    0% {
        opacity: 0;
        transform: translateY(-20rem);
    }
    33% {
        opacity: 1;
        transform: translateY(-20rem);
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
