:root {
    --main-bg-color: rgb(10, 10, 10);
    --main-title-color: rgb(245, 245, 245);
    --main-title-color-op-5: rgba(245, 245, 245, 0.5);
    --text-color-gray: rgb(80, 80, 80);
    --icon-css: rgb(36, 102, 241);
    --icon-js: rgb(247, 223, 27);
    --icon-html: rgb(232, 82, 11);
    --icon-cpp: rgb(0, 89, 157);
    --icon-csharp: rgb(0, 148, 6);
    --icon-java: rgb(229, 137, 45);
    --icon-python: rgb(255, 227, 101);
}
