.container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.content {
    margin: 2rem 30vw;
    height: 65vh;
    width: 70vw;
    position: relative;
    animation: fadeIn__github-content 2s forwards;
    .nav {
        height: 5vh;
        display: flex;
        justify-content: space-between;
        .sort {
            display: inline-flex;
            & > div:first-child {
                margin-right: 1rem;
            }
            & > div:hover {
                transform: scale(1.2);
                transition: transform 0.1s ease-in-out;
            }
        }
        .close {
            transform: scale(1.2);
            transition: transform 0.1s ease-in-out;
        }
    }
    .block {
        height: 60vh;
        overflow-x: unset;
        overflow-y: auto;
        &::-webkit-scrollbar {
            visibility: hidden;
        }
    }
    .profile {
        cursor: pointer;
        &,
        img,
        span,
        .loading {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.1s ease-in-out;
        }
        span {
            text-align: center;
            font-size: small;
            opacity: 0;
        }
        &:active,
        &:focus {
            transform: scale(0.8);
            transition: transform 0.1s ease-in-out;
        }
        &:hover {
            img {
                opacity: 0.5;
            }
            span {
                opacity: 1;
            }
        }
    }
    .button {
        width: 7.5rem;
        border-radius: 25%;
    }
}

@keyframes fadeIn__github-content {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    33% {
        opacity: 0;
        transform: scale(0);
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
