.container {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.header {
    font-weight: 900;
    font-size: 10rem;
}

.content {
    margin: 2rem 30vw;
    height: 65vh;
    width: 70vw;
    position: relative;
    animation: fadeIn__home-content 2s forwards;
}

@keyframes fadeIn__home-content {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.menus {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 72px 0;
}

.anchor {
    position: relative;
    font-family: "Abel", sans-serif;
    opacity: 0;
    font-weight: 400;
    font-size: 3rem;
    animation: fadeIn 1s forwards;
    margin-top: 1rem;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -0.25rem;
        left: 0;
        background-color: var(--main-title-color);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }
    &:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
